$font-primary: 'Roboto', sans-serif;

$c-primary-300: #E0E0E0;
$c-primary-500: #9E9E9E;
$c-primary-700: #616161;
$c-primary-800: #424242;

$c-accent-100: #C5CAE9;
$c-accent-500: #3F51B5;
$c-accent-700: #303F9F;
$c-error: red;

$black: #000;
$white: #fff;

